<div class="home abtMe">
  <div class="col-md-1 icoSec">
      <span class="fa fa-user"></span>
  </div>
  <div class="col-md-11 detSec">
    <h2>About Me</h2>
    <div class="expDet">
          <div class="myInfo">
             <ul>
                <li>
                  <p>Full Name:</p>
                  <span>Satish Raghunath Manval</span>
                </li>
                <li>
                  <p>Address:</p>
                  <span>Shirvane, Juinagar(Navi Mumbai)</span>
                </li>
                <li>
                  <p>Mobile:</p>
                  <span>+91 9503516954</span>
                 </li>
                <li>
                  <p>Email:</p>
                  <span>skumar0585@gmail.com</span>
                </li>
              </ul>
              <ul>
                <li>
                  <p>Date of Birthday:</p>
                  <span>15th Nov 1989</span>
                </li>
                <li>
                  <p>Profile:</p>
                  <span>Web Designer</span>
                </li>
                <li>
                  <p>Experience:</p>
                  <span>3.6 Years</span>
                 </li>
                <li>
                  <p>Website:</p>
                  <span>www.srmanval.com</span>
                </li>
              </ul>
          </div>
          <div class="myDesc">
            <p>
              <span>I’m</span> a Front End Develpoer and UI Designer Based in Austin. I have a Passion for Creating Clean, Beautiful, Interactive, Minimalistic, Responsive and User Friendly UI, Developed by Modular, Scalable and Functional Code. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal. I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown.
            </p>
          </div>
          <div class="myInterest">
            <p>Interested In</p>
            <ul>
              <li><span class="fa fa-music"></span></li>
              <li><span class="fa fa-motorcycle"></span></li>
              <li><span class="fa fa-comments"></span></li>
              <li><span class="fa fa-camera"></span></li>
              <li><span class="fa fa-shopping-cart"></span></li>
              <li><span class="fa fa-futbol-o"></span></li>
            </ul>
          </div>
      </div>
    </div>
</div>