<div class="myNav">
  <ul class="mynavUl">
      <li><a routerLink="home" routerLinkActive="active-link"><span class="fa fa-home"></span>Home</a></li>
      <li><a routerLink="portfolio"><span class="fa fa-picture-o"></span>Portfolio</a></li>
      <li><a routerLink="work"><span class="fa fa-briefcase"></span>Work Experience</a></li>
      <li><a routerLink="qualification"><span class="fa fa-graduation-cap"></span>Qualification</a></li>
      <li><a routerLink="about"><span class="fa fa-user"></span>About</a></li>
      <li><a routerLink="contact"><span class="fa fa-phone-square"></span>Contact</a></li>
  </ul>
</div>