<div class="home">
  <div class="col-md-1 icoSec">
      <span class="fa fa-briefcase"></span>
  </div>
  <div class="col-md-11 detSec">
    <h2>Work Experience</h2>
    <div class="weWraper" id="myScroll">
    <div class="expDet">
      <p class="posName">Graphic Designer<span class="compName">@Kabra Travel Services Pvt. Ltd.</span>
      <span class="locName">Mumbai(Malad)</span></p>
      <p class="workTen">Jan 2013 - May 2014</p>
      <p class="jobRole">Roles & Responsibilities:-</p>
      <div class="jdList">
        <ul>
          <li>Designing e-mailers of different hotels with new packages & rates.</li>
          <li>Editing Images & converting to JPEG, GIF format.</li>
          <li>Creating animated images.</li>
          <li>Designing E-mailer in HTML/CSS & Adobe Photoshop.</li>
          <li>Creating video/PPT presentation for Exhibition.</li>
          <li>Designing Logos & Icons.</li>
        </ul>
      </div>
    </div>
    <div class="expDet">
      <p class="posName">Graphic Designer<span class="compName">@Locon Solutions Pvt. Ltd.(Housing.com)</span>
      <span class="locName">Navi Mumbai(Airoli)</span></p>
      <p class="workTen">Jun 2014 - May 2016</p>
      <p class="jobRole">Roles & Responsibilities:-</p>
      <div class="jdList">
        <ul>
          <li>Working on Buildings & Floor plans.</li>
          <li>Making Cover Images of building.</li>
          <li>Designing & tracing builder Logo.</li>
          <li>Colour corrections in 3D floor plan.</li>
          <li>Editing images like galleries.</li>
          <li>Uploading content on website through backend.</li>
          <li>Other works as per business requirement.</li>
          <li>Worked on <a href="https/www.housing.com">www.housing.com</a> website</li>
        </ul>
      </div>
    </div>
    <div class="expDet">
      <p class="posName">Web / Graphic Designer<span class="compName">@Axat Technologies Pvt. Ltd.</span>
      <span class="locName">Navi Mumbai(Ghansoli)</span></p>
      <p class="workTen">Jun 2016 - Present</p>
      <p class="jobRole">Roles & Responsibilities:-</p>
      <div class="jdList">
        <ul>
          <li>Create & Design Logos</li>
          <li>Designing banner/cover images, brochures, blog images.</li>
          <li>Design or modify Mockup for website.</li>
          <li>Slicing PSD, Conversion of PSD to HTML.</li>
          <li>Making responsive webpage/website.</li>
          <li>Uploading content on website using File zilla.</li>
          <li>Maintaining websites & Resolving frontend issues.</li>
          <li>Making & Editing video.</li>
        </ul>
      </div>
    </div>
   </div>
  </div>
</div>
