<div class="home abtMe">
  <div class="col-md-1 icoSec">
      <span class="fa fa-user"></span>
  </div>
  <div class="col-md-11 detSec">
    <h2>About Me</h2>
    <div class="expDet">
          <div class="myInfo">
             <ul>
                <li *ngFor="let mydet of mySum1">
                   <p>{{ mydet.heading }}</p>
                  <span>{{ mydet.info }}</span>
                </li>
              </ul>
              <ul>
                <li *ngFor="let mydet of mySum2">
                   <p>{{ mydet.heading }}</p>
                  <span>{{ mydet.info }}</span>
                </li>
              </ul>
          </div>
          <div class="myDesc">
            <p>
              <span>I’m</span> a Front End Develpoer and UI Designer Based in Austin. I have a Passion for Creating Clean, Beautiful, Interactive, Minimalistic, Responsive and User Friendly UI, Developed by Modular, Scalable and Functional Code. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal. I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown.
            </p>
          </div>
          <div class="myInterest">
            <p>Interested In</p>
            <ul>
              <li><span class="fa fa-music"></span></li>
              <li><span class="fa fa-motorcycle"></span></li>
              <li><span class="fa fa-comments"></span></li>
              <li><span class="fa fa-camera"></span></li>
              <li><span class="fa fa-shopping-cart"></span></li>
              <li><span class="fa fa-futbol-o"></span></li>
            </ul>
          </div>
      </div>
    </div>
</div>