<div class="home">
  <div class="col-md-1 icoSec">
      <span class="fa fa-graduation-cap"></span>
  </div>
  <div class="col-md-11 detSec">
    <h2>Qualification</h2>
    <div class="weWraper" id="myScroll">
     <div class="expDet">
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Education</th>
            <th>Board / University</th>
            <th>Year</th>
            <th>Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>S.S.C.</td>
            <td>Kolhapur Board</td>
            <td>2006</td>
            <td>83.20%</td>
          </tr>
          <tr>
            <td>H.S.C.</td>
            <td>Kolhapur Board</td>
            <td>2008</td>
            <td>72.00%</td>
          </tr>
          <tr>
            <td>B.Sc(IT)</td>
            <td>Mumbai University</td>
            <td>2011-12</td>
            <td>61.64%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="expDet">
      <p class="posName">Web / Graphic Designer<span class="compName">@Webtech Academy/Infinitech Institute</span>
      <span class="locName">Mumbai</span></p>
      <p class="workTen">6 Months</p>
      <p class="jobRole">Professional Course:-</p>
      <div class="jdList">
        <ul>
          <li>Designing Web Templates/ Mockups PSD.</li>
          <li>Designing Table-less DIV Structures.</li>
          <li>Converting a PSD template into a webpage.</li>
          <li>Create the inner pages and interlinking them.</li>
          <li>Applying J Query Widgets and Effects to Web Page.</li>
          <li>Applying styles to website using CSS & CSS3.</li>
          <li>Creating table-less CSS layouts, Rendering Javascript /Jquery code.</li>
          <li>Designing a complete template using HTML5 & CSS3.</li>
        </ul>
      </div>
    </div>  
   </div>
  </div>
</div>